@import "tailwindcss";

:root {
  --mainColor: #ffffff;
  --background: #e5e5e5;
  --foreground: #0000;
  --btnbg: #a0522d;
  --btnhover: #843c1c;
  font-family: var(--font-eczar);
}

@media (prefers-color-scheme: dark) {
  :root {
    --mainColor: #ffffff;
    --background: #e5e5e5;
    --foreground: #0000;
    --btnbg: #a0522d;
    --btnhover: #843c1c;
    font-family: var(--font-eczar);
  }
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  font-family: var(--font-eczar);
}

.bg-img {
  background-image: url("/bg-hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  background-color: var(--btnbg);
  font-weight: bold;
  color: var(--mainColor);
  transition: all 0.5s ease;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}

button:hover {
  background-color: var(--mainColor);
  color: var(--btnhover);
}
